body {
    width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: monospace
}

header {
    width: 100%;
    min-height: 100px;
    background-color: darkgreen;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url(../img/header.png);
    position: relative;     
}

/*
.cart-button {
    outline: none;
    border: 0.5px solid #094f20;
    border-radius: 10.0px;
    font-size: 16px;
    font-weight: 700;
    color: #080647;
    text-transform: uppercase;
    align-items: center;
    height: 32px;
    width: 32px;
    margin-right: 10px;
    background-color: darkseagreen;
    padding: 0 20px;
    cursor: pointer;
    margin-top: 60px;
    font-family: monospace;
    position: absolute;
    margin-left: 900px;
    background-image: url(../img/shoping.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
}

.cart-button:hover {
    outline: none;
    background-color: #91c2aa;
    color: #1f4231;
    transition: 0.2s ease; 
}

.cart-button:active {
    outline: none;
    background-color: #094f20;
    color: #080647;
    background-color: #11a85f;
}
*/

.goods-list {
    width: 100%;      
    align-items: center;   
    display: flex;
    justify-content: space-around
}

.goods-item {
    width: 200px;
    height: 200px;
    margin: 30px 0px 30px 0px;
    border: 1px solid green;
    text-align: center; 
    border-radius: 10.0px;
}

h2 {
    height: 30px;
    background-color:darkseagreen;
    margin: 0;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
}


