* {
  box-sizing: border-box;
}
.width_container {
  margin: auto;
  min-width: 1070px;
  width: 1070px;
}
.goods_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  .goods_item {
    flex-basis: 22%;
    min-width: 100px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
    .goods_img {
      margin: auto;
      width: 150px;
      height: 150px;
      background-color: brown;
    }
  }
}
.cart_container {
  margin: auto;
  width: 300px;
  .cart_title {
    text-align: center;
  }
  #cart {
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
  }
}